extend ../../style-guide.html

block vars
  - var bodyClass = 'style-guide tables';

block sub_content
  header#header
    h1 Tables
    p This page depicts all table variants for use in this website.

  section.card
    .card-content
      h2.card-title= 'Borderless Table'
      p Tables are borderless by default.
      .example
        table
          thead
            tr
              th Name
              th Item Name
              th Price

          tbody
            tr
              td Kenneth
              td Blue Whale
              td $1.2 M
            tr
              td Ryan
              td Angry Dragon
              td $1.7 M
            tr
              td Jason
              td Fighting Panda
              td $2.4 M

  section.card
    .card-content
      h2.card-title= 'Bordered Table'
      p Add <code>.bordered</code> class to the table tag for a bordered table.
      .example
        table.bordered
          thead
            tr
              th Name
              th Item Name
              th Price

          tbody
            tr
              td Kenneth
              td Blue Whale
              td $1.2 M
            tr
              td Ryan
              td Angry Dragon
              td $1.7 M
            tr
              td Jason
              td Fighting Panda
              td $2.4 M

  section.card
    .card-content
      h2.card-title= 'Striped Table'
      p Add <code>.striped</code> class to the table tag for a striped table.
      .example
        table.striped
          thead
            tr
              th Name
              th Item Name
              th Price

          tbody
            tr
              td Kenneth
              td Blue Whale
              td $1.2 M
            tr
              td Ryan
              td Angry Dragon
              td $1.7 M
            tr
              td Jason
              td Fighting Panda
              td $2.4 M

  section.card
    .card-content
      h2.card-title= 'Highlight Table'
      p Add <code>.highlight</code> class to the table tag for a highlight table.
      .example
        table.highlight
          thead
            tr
              th Name
              th Item Name
              th Price

          tbody
            tr
              td Kenneth
              td Blue Whale
              td $1.2 M
            tr
              td Ryan
              td Angry Dragon
              td $1.7 M
            tr
              td Jason
              td Fighting Panda
              td $2.4 M

  section.card
    .card-content
      h2.card-title= 'Centered Table'
      p Add <code>.centered</code> class to the table tag for a centered table.
      .example
        table.centered
          thead
            tr
              th Name
              th Item Name
              th Price

          tbody
            tr
              td Kenneth
              td Blue Whale
              td $1.2 M
            tr
              td Ryan
              td Angry Dragon
              td $1.7 M
            tr
              td Jason
              td Fighting Panda
              td $2.4 M

  section.card
    .card-content
      h2.card-title= 'Responsive Table'
      p Add <code>.responsive-table</code> class to the table tag to make the table horizontally scrollable on smaller screen widths.
      .example
        table.responsive-table
          thead
            tr
              th Name
              th Item Name
              th Price

          tbody
            tr
              td Kenneth
              td Blue Whale
              td $1.2 M
            tr
              td Ryan
              td Angry Dragon
              td $1.7 M
            tr
              td Jason
              td Fighting Panda
              td $2.4 M